@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;0,900;1,500&display=swap');

:root {
    font-weight: 400;

    --white: #FFF;
    --light-dark: #454545;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Roboto', sans-serif;
    background: linear-gradient(110deg, #2b2b2b 60%, #434250 60%);
    color: var(--white);
}

.main {
    display: flex;
    flex-direction: column;

    width: 100%;
    justify-content: center;
    align-items: center;
}

.input-group {
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-label {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.select-group {
    width: 80px;
    font-size: 20px;
    background: var(--white);
    color: var(--light-dark);
    text-align: center;
}

.generator-button {
    padding: 1rem;
    background-color: var(--white);
    color: var(--light-dark);
    margin: 1rem;
    cursor: pointer;
    transition: 0.1s ease-in-out;
    font-weight: bold;
}

.generator-button:hover {
    opacity: 0.9;
}

.password-container {
    margin: 0 auto;
    font-size: 2rem;
    width: 90%;
    text-align: center;
}

@media only screen and (max-width: 720px) {
    body {
        font-size: 70%;
    }

    .main {
        padding: 1rem;
    }

    .title {
        width: 100%;
        text-align: center;
    }

    .input-label {
        text-align: center;
    }

    .password-container {
        width: 90%;
        font-size: 1rem;

        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

}
